body {
  background: #08050f;
  
}

body::-webkit-scrollbar{
  display: none;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5vh);
  }
}

.bounce-animation {
  animation: bounce 5s ease-in-out infinite;
}
